body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

header {
  padding: 20px;
  text-align: center;
}

.btn {
  background: #ff4757;
  padding: 10px 18px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

.slider {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

.arrow {
  font-size: 40px;
  margin: 0 20px;
}

.section-title {
  margin-left: 20px;
}

.manga-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 20px;
  gap: 12px;
}

.manga-grid div {
  background: #222;
  padding: 15px;
  border-radius: 10px;
}

.login-container {
  margin-top: 120px;
  text-align: center;
}

.google {
  background: #4285f4;
}
